@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ▼▼▼▼▼▼▼▼▼▼ Share Style Star Here ▼▼▼▼▼▼▼▼▼▼ */
* {
    margin: 0 auto;
    font-family: Quicksand;
}

.dark-color {
    color: rgb(17, 17, 17);
}

.orange-color {
    color: rgb(254, 163, 1);
}

.skyblue-color {
    color: rgb(1, 172, 253);
}

.gray-color {
    color: rgb(128, 128, 128);
}

.display-flex {
    display: flex;
}

.line-height {
    line-height: 1.77rem;
}

:root {
    --font-size: 1.25rem;
    --font-weight: 500;
    --font-weight700: 700;
}

/* ▲▲▲▲▲▲▲▲▲▲ Share Style End ▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼ Header Menubar Design Start ▼▼▼▼▼▼▼▼▼▼ */
.banner-conteiner {
    margin-top: 1.25rem;
}

.name-logo {
    align-items: center;
    gap: .5rem;
}

.name-logo>img {
    width: 65px;
    height: 65px;
}

.academy-name {
    font-size: 2rem;
    font-weight: 700;
}

.home a {
    color: rgb(246, 1, 254);
    font-size: var(--font-size);
    font-weight: 700;
}

.about a {
    color: rgb(1, 172, 253);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.facilities a {
    color: rgb(255, 76, 5);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.admission a {
    color: rgb(23, 151, 6);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.home:hover,
.about:hover,
.facilities:hover,
.admission:hover {
    background-color: rgb(165, 194, 246);
    border-radius: 10px;
}

.banner-head-conteiner {
    justify-content: space-between;
    align-items: center;
}

.head-menu {
    list-style: none;
    gap: 2rem;
}

.head-menu a {
    text-decoration: none;
}

.btn {
    border-radius: .8rem;
    background: rgb(254, 163, 1);
    padding: .62rem 2.2em;
    margin: 0 auto;
    border: none;
    color: white;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(192, 160, 104);
    color: rgb(9, 100, 237);
}

.menu-icon {
    display: none;
    width: 2rem;
    height: 2rem;
}

hr {
    display: none;
    border: 0.5px solid rgb(254, 163, 1);
}

/* ▲▲▲▲▲▲▲▲▲▲ Header Menubar Design End ▲▲▲▲▲▲▲▲▲▲ */


/* ▼▼▼▼▼▼▼▼▼▼ Banner Content Design Start ▼▼▼▼▼▼▼▼▼▼ */

.banner-content {
    gap: 3rem;
    justify-content: space-between;
    padding: 1.8rem;
    margin: 0 auto;
    align-items: center;
}

.banner-description {
    max-width: 40rem;
}

.banner-img img {
    max-width: 100%;
}

.vision-title {
    font-weight: var(--font-weight700);
    font-size: 3.5rem;
    line-height: 3.8rem;
}

.vision-title br {
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-sub-title {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(17, 17, 17);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-enroll {
    background-color: black;
    font-size: var(--font-size);
    font-weight: var(--font-weight700);
}

/* ▲▲▲▲▲▲▲▲▲▲ Banner Content Design End ▲▲▲▲▲▲▲▲▲▲ */


/* ▼▼▼▼▼▼▼▼▼▼ Card Section Design Start ▼▼▼▼▼▼▼▼▼▼ */

.card-section {
    background-image: url('assets/bg.png');
    padding: 4rem;
}

.card-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
    gap: 1.7rem;
    margin: 0 auto;
    max-height: 480px;
    margin-bottom: 20px;
}

.card-section h1 {
    font-weight: var(--font-weight700);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}

.card-1,
.card-2,
.card-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 2rem;
    padding: 1.5rem;
}

.card-1 {
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 1.17rem;
    box-shadow: inset 0px 0px 1.76rem 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-2 {
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 1.17rem;
    box-shadow: inset 0px 0px 1.76rem 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 1.17rem;
    box-shadow: inset 0px 0px 1.76rem 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-title {
    font-size: 1.5rem;
    font-weight: var(--font-weight700);
}

.card-description {
    font-weight: var(--font-weight);
}

.readmore-1,
.readmore-2,
.readmore-3 {
    font-size: 1rem;
    font-weight: var(--font-weight700);
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.readmore-1:hover,
.readmore-2:hover,
.readmore-3:hover {
    background: rgb(134, 134, 230);
    padding: 5px;
    border-radius: 18px;
    border: 1px solid gray;
}

.readmore-1 {
    color: rgb(100, 200, 255);
}

.readmore-2 {
    color: rgb(240, 170, 0);
}

.readmore-3 {
    color: rgb(135, 0, 255);
}


/* ▲▲▲▲▲▲▲▲▲▲ Card Section Design End ▲▲▲▲▲▲▲▲▲▲ */


/* ▼▼▼▼▼▼▼▼▼▼ change button Design Start ▼▼▼▼▼▼▼▼▼▼ */

.change-btn {
    text-align: center;
    margin: 80px auto;
}

.change-btn span {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding: 17px 25px;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    background: rgb(254, 163, 1);
    text-align: center;
    margin: 5px;
    border: 1px solid rgb(193, 182, 182);
}

/* ▲▲▲▲▲▲▲▲▲▲ change button Design End ▲▲▲▲▲▲▲▲▲▲ */


.stories {
    background: url('assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.stories-card-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 4rem;
    max-height: 630px;
}

.stories-card-1 {
    grid-row: span 2;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.stories-card-description{
    padding: 30px;
}

/* ▼▼▼▼▼ Design Responsive start for Mobile ▼▼▼▼▼ */
@media screen and (max-width: 576px) {

    .academy-name,
    .head-menu,
    .btn,
    .change-btn {
        display: none;
    }

    .menu-icon,
    hr,
    .btn-enroll {
        display: block;
    }

    .banner-content {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }

    .vision-title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .banner-sub-title {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.1rem;
    }

    .card-section {
        padding: 2rem;
    }

    .card-section h1 {
        font-weight: var(--font-weight700);
        font-size: 1.5rem;
    }

    .card-conteiner {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-1,
    .card-2,
    .card-3 {
        height: auto;
    }

    .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

/* ▲▲▲▲▲ Design Responsive end for Mobile ▲▲▲▲▲ */